scratch/
.venv/

__pycache__/
*/__pycache__/
**/__pycache__/

data/williams/*

data/simulation/sim_multi_state_tree_node_character_matrix.csv
data/simulation/*
data/laks/scope/*

.snakemake/

!data/simulation/results/
!data/williams/scratch/

data/williams/scratch/*/snv_counts.csv
data/williams/scratch/*/hscn_clones.csv

*.egg-info/
*.egg-info
.DS_Store
